/* General styles */
html {
    background-color: #EAF2F5;
}

body {
    margin: 0px;
    padding: 0px;

    color: #0F0F0D;

    font-family: 'Open Sans', sans-serif;
}

tt {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

a {
    color: #006699;
}

label {
    display: inline-block;
    margin-bottom: 5px;

    font-weight: 700;
}

input[type=text] {
    display: block;

    height: 34px;
    padding: 6px 12px;

    font-size: 13px;
}

select {
    display: block;

    color: gray;

    height: 34px;
    padding: 6px 12px;

    font-size: 13px;
    line-height: 34px;

    background-color: #FFF;

    -webkit-appearance: menulist-button;
}

textarea {
    display: block;

    height: 49px;
    padding: 6px 12px;

    font-size: 13px;
}

/* Styles for the header */
header {
    width: 100%;
    height: 250px;
    background-color: #2BB9E4;/*#DCE9EE;*/

    display: table;
    position: relative;

    text-align: center;
}

    header .shadow {
        height: 5px;
        width: 100%;
        background-color: #FF4D67; /*#B1BDC2;*/

        position: absolute;
        left: 0px;
        bottom: -5px;
    }

    header .container {
        display: table-cell;
        vertical-align: middle
    }

    header h1, header h2 {
        color: #F3F3F3;/*#006699;*/
    }

    header h2 {
        font-weight: lighter;
    }

/* Styles for the main content of the page */
.intro {
    text-align: center;
    font-weight: lighter;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

    .intro a {
        color: #0F0F0D;
    }

.main-content {
    padding-left: 60px;
    padding-right: 60px;
}

/* div based CSS tables */
div .row {
    width: 90%;
    padding: 10px 5%;

    min-height: 50px;
}

    div .half {
        float: left;
        width: 50%;

        min-height: 50px;
    }

    div .third {
        float: left;
        width: 33.3%;

        min-height: 50px;
    }

/* Styles for the main argparse table */
.main-table input[type=text], .main-table textarea, select {
    width: calc(100% - 30px);

    margin-left: 10px;
}

/* Styles for the Argument area */
#argument_template {
    display: none;
}

/* Styles for the toolbar in each argument area */
.toolbar {
    height: 34px;
    width: 100%;
}

    .toolbar .tool {
        height: 34px;
        width: 34px;

        font-size: 16px;
    }

    .toolbar .delete {
        float: right;
    }

/* Styles for the output area */
.terminal {
    width: 650px;
    margin: 20px auto 0;

    font-size: 14px;

    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
       -moz-border-top-left-radius: 7px;
       -moz-border-top-right-radius: 7px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;

    -webkit-box-shadow: 0px 10px 50px 3px rgba(0, 0, 0, 0.35);
       -moz-box-shadow: 0px 10px 50px 3px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 10px 50px 3px rgba(0, 0, 0, 0.35);
}

.terminal-bar {
    height: 20px;
    background: #eeeeee;
    position: relative;

    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
       -moz-border-top-left-radius: 7px;
       -moz-border-top-right-radius: 7px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
}

.terminal-bar li {
    list-style: none;
}

.terminal-bar .terminal-close {
    background: #FF504D;
    left: 10px;
}

.terminal-bar .terminal-minimize {
    background: #E8C460;
    left: 25px;
}

.terminal-bar .terminal-maximize {
    background: #70FF6E;
    left: 40px;
}

.terminal-text {
    min-height: 230px;
    border: 1px solid #EEEEEE;
    background-color: #3B3B3D;
}

.terminal-text pre {
    margin: 5px;
    border: 0px;
    padding: 5px;

    color: #FBFBFB;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.circle {
    top: 5px;
    width: 10px;
    height: 10px;
    position: absolute;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

/* Styles for the footer */

footer {
    width: 100%;
    height: 18px;

    position: relative;

    text-align: center;

    color: #F9F9F9;
    font-weight: lighter;

    margin-top: 40px;
    padding-top: 33px;
    padding-bottom: 33px;

    background-color: #000000;

}

    footer a {
        color: #F9F9F9;
    }

    footer img {
        position: absolute;
        top: 13px;

        width: 58px;
        height: 58px;

        border-radius: 29px;
    }

    footer .left {
        left: 25px;
    }

    footer .right {
        right: 25px;
    }
