html{
    background-color: #CCCCCC;
}

body {
    display: block;
    margin: 0 auto;

    margin-top: 1em;
    margin-bottom: 1em;

    width: 900px;
    padding: 1em;
    background-color: #FFFFFF;
    
    border: 1px solid black;
    text-align: justify;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
    color: black;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: underline;
}

.perex {
    font-style: italic;
}

fieldset p {
    font-style: italic;
    margin: 0;
}

fieldset {
    border: 0;
    /*border-top: 1px solid lightgray;*/
}

fieldset legend {
    font-weight: bold;
    font-family: monospace;
}

fieldset textarea {
    width: 100%;
}

fieldset input {
    width: 100%;
}

fieldset p input {
    width: auto;
}

.add_rm_button {
    width: 40px;
    font-size: 3em;

    margin: 0;
    padding: 0;

    line-height: 0.8em;
    text-align: center;
}

.remove_button {
    padding: 0;
    margin: 0.1em;
}

.argument {
    word-wrap: break-word;
    word-break: break-all;
}

.argument_table {
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

#argument_template {
    display: none;
}

textarea {
    width: 100%;
}

table {
    width: 100%;
}

.descr {
    float: left;
    width: 30%;
    font-family: monospace;
}

#output {
    min-height: 600px;
}